@page
@model Intro.Pages.New_pageModel

@{
    ViewData["Title"] = "New Page";
}

<h3>Yash</h3>
<!DOCTYPE html>
<html>
    <head>
        <title> Form</title>
    </head>
    <body>
      <form method="post" >
        <fieldset>
         
          <div>
            <label for="Number1">Number 1:</label>
            <input type="text" name="num1" value="2" />
          </div>
          <div>
            <label for="Number2">Number 2:</label>
            <input type="text" name="num2" value="4" />
          </div>
         
          <div>
            <label>&nbsp;</label>
            <input type="submit" value="Submit" class="submit" />
          </div>

           <div>
            <label>&nbsp;</label>
            <label for="Sum">Sum:</label>
            <input type="text" name="sum" value="6" />
          </div>

        </fieldset>
      </form>

      @section new_section
{
    <p>
        The Super Bowl is the annual playoff championship game of the National Football League. 
        It has served as the final game of every NFL season since 1966, replacing the NFL Championship Game. 
        Since 2022, the game is played on the second Sunday in February. 
    </p>
}

    </body>
</html>